# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OneDrive - Landrat-Gruber-Schule\00_TopDownShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
